.country-container{
    display:  grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}.flag-container img{
    width: 100px;
    margin-right: 10px;
    border-radius: 10px;
    object-fit: fill;
}