.country{
    border: 2px solid aquamarine;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
}
.rounded{
    border-radius: 20px;
}
.visited{
    background-color: bisque;
    color: black;
}
.unVisited{
    background-color: cadetblue;
}